* {
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: rgb(245, 245, 245);
}
.news-layout {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.column-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 14%;
}

.column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 30%;
}

.column-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 14%;
}

.news-left {
    color: black;
    padding: 10rem;
    position: relative;
    top: -10rem;
}

.news-center {
    color: black;
    padding: 10rem;
    position: relative;
    top: -8.99rem;
}

.news-right {
    color: black;
    padding: 10rem;
    position: relative;
    top: -10rem;
}

.meta-left {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: relative;
    top: -4.5rem;
    left: 5.5rem;
}

.news-left-main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.news-text {
    position: relative;
    top: 1;
}

.meta-left-share {
    position: relative;
    top: 15px;
}

.news-left-text {
    position: relative;
    top: -3rem;
}

.news-left-secondary-text {
    position: relative;
    top: -1.5rem;
}

.meta-left-secondary {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: relative;
    left: 6.5rem;
    top: -1.5rem;
}

.meta-left-secondary-share {
    position: relative;
    top: 15px;
}

.news-center-header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.meta-center {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 13.17rem;
}

.meta-center-share {
    position: relative;
    top: 0.9rem;
    left: 1rem;
}

.highlight-center {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    position: relative;
    top: -2rem;
}

.meta-left-time h6 {
    font-size: 8px;
}

.meta-left-secondary-time h6 {
    font-size: 8px;
}

.tag-center {
    position: relative;
    font-size: 12px;
}

.tag-right {
    position: relative;
    top: 0.8rem;
    font-size: 10px;
}

.meta-center-time {
    font-size: 12px;
}

.meta-right {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -3rem;
    left: 7rem;
}

.meta-right-share {
    position: relative;
    top: 18px;
    left: -2rem;
}

.meta-right-time h6 {
    font-size: 10px;
    width: 100px;
}

.news-right-text {
    position: relative;
    top: -0.5rem;
    width: 200px;
}

.layout {
    display: flex;
    flex-direction: column;
}


blockquote {
    font-size: 10px;
}

.news-right-main {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -1.3rem;
}

.news-center-title {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -1.5rem;
}

.tag-left {
    position: relative;
    top: -0.8rem;
    font-size: 10px;
}